*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: inherit;
}

:root {
  --pink: #ec98c9;
}

body {
  font-family: -apple-system, 'Helvetica Neue', helvetica, arial,
    sans-serif;
  background-color: #f7f7f7;
  color: #0a0a0c;
  margin: 2em;
  font-weight: 500;
  letter-spacing: -0.003em;
}

a {
  color: var(--pink);
}

button {
  font: inherit;
}

#container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}
.center {
  text-align: center;
}

.label,
label {
  display: block;
  color: #999;
  font-size: 0.8em;
}

div.lyrics {
  padding: 1em;
  color: #333;
}

p {
  max-width: 600px;
}

form {
  border: 2px solid var(--pink);
  border-radius: 20px;
  padding: 1rem;
}

li {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 0 0 0 0.5rem;
  height: 5px;
  border-radius: 5px;
  padding: 0 2px;
  /* width: 100px; */
  background: #ccc;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 0px;
  background: #fff;
  border: none;
  border-radius: 3px;
}
input[type='range']::-moz-range-track {
  width: 300px;
  height: 0px;
  background: #fff;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #222;
  box-shadow: 0px 0px 4px rgab(0, 0, 0, 1);
  cursor: pointer;
  transform: translate(0, -50%);
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px rgab(0, 0, 0, 1);
  cursor: pointer;
  transform: translate(0, -50%);
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #fff;
}
